<template name="groupView">
    {{#contentFor "headerButtonLeft"}} {{>ionNavBackButton path="groups" text="My Groups"}} {{/contentFor}} {{#contentFor "headerTitle"}} {{#with group}}
    <h1 class="title">{{name}}</h1> {{/with}} {{/contentFor}} {{#contentFor "headerButtonRight"}}
    <button class="button button-clear" data-ion-modal="_addIssue" data-id="{{group._id}}">{{> ionIcon icon="ios-plus-empty"}}</button>
    {{/contentFor}} {{#ionView}} {{#ionContent class="padding contact-detail"}} {{#with group}} {{#each issues _id}} {{> issue}} {{/each}} {{/with}} {{/ionContent}} {{/ionView}}

</template>

<template name="issue">
	<div class="issue card">
		{{#ionItem path="issueView" buttonRight=true avatar=true class="item-icon-left"}}
		<h2>{{title}}</h2>
		<p>{{description}}</p>
         {{/ionItem}}

        <div class="item tabs tabs-secondary tabs-icon-left">

            <a class="tab-item" href="#" data-action="Meteor.call('poop')">
                <i class="icon ion-email"></i> Send Email
            </a>
            <a class="tab-item" href="#" data-action="fake">
                <i class="icon ion-thumbsdown"></i> Veto
            </a>
            <a class="tab-item" href="#" data-action="fake">
                <i class="icon ion-help-circled"></i> Obstain
            </a>
        </div>
    </div>
</template>
