<template name="groupView">

  {{#ionSideMenuContainer}}

    {{#ionSideMenu side="right"}}
      <div class="bar bar-header bar-dark">
            <h1 class="title">Left Menu</h1>
      </div>
      
      {{#ionSubheaderBar}}
        <h3 class="stitle">Members:</h3>
      {{/ionSubheaderBar}}

      {{#ionContent}}
        <div class = "padding">
          {{#each members}}
            {{#ionItem}}
              {{username}}
            {{/ionItem}}
          {{/each}}
        </div>

        <br>

        {{> search}}

      {{/ionContent}}
      
    {{/ionSideMenu}}


  {{#ionSideMenuContent}}
 

    {{#contentFor "headerButtonLeft"}}
      {{>ionNavBackButton path="groups" text="My Groups"}}
    {{/contentFor}} 
    
    {{#contentFor "headerTitle"}}
      {{#with group}}
        <h1 class="title">{{name}}</h1>
      {{/with}}
    {{/contentFor}}

    {{#contentFor "headerButtonRight"}}
      <button class="button button-clear" data-ion-modal="_addIssue" data-id="{{group._id}}">{{> ionIcon icon="ios-plus-empty"}}</button>
    {{/contentFor}}

    {{#ionView}}
      {{#ionContent class="padding contact-detail"}} 
        {{#with group}}
          {{#each issues _id}}
            {{> issue}}
          {{/each}}
        {{/with}}
      {{/ionContent}}
    {{/ionView}}

   {{/ionSideMenuContent}}
  {{/ionSideMenuContainer}}

</template>

    


<template name="issue">
	<div class="issue card">

		{{#ionItem path="issueView" buttonRight=true avatar=true class="item-icon-left"}}
  		<h2>{{title}}</h2>
  		<p>{{description}}</p>
    {{/ionItem}}

		<div class="item tabs tabs-secondary tabs-icon-left">

      <a class="aye tab-item {{#if myAye}}pressed{{/if}}" id="" href="#" data-action="">
        <i class="icon ion-thumbsup"></i>
        Aye
      </a>
      <a class="abs tab-item {{#if myAbs}}pressed{{/if}}" id="" href="#" data-action="">
        <i class="icon ion-ios-analytics"></i>
        Abstain
      </a>
      <a class="nay tab-item {{#if myNay}}pressed{{/if}}" href="#" data-action="">
        <i class="icon ion-thumbsdown"></i>
        Nay
      </a>

    </div>
  </div>
</template>

<template name="search">
    <div class="list">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          {{> ionIcon icon="ios-search" class="placeholder-icon"}}
          <input type="text" placeholder="Add people" value="{{searchQuery}}">
        </label>
      </div>
      <div class="padding">
        {{#ionList}}
          {{#if isSearchInput}}
            {{#if searchResults.results}}
              {{#each searchResults.results}}
                {{> user}}
              {{/each}}
            {{/if}}
          {{/if}}
        {{/ionList}}
      </div>
    </div>
</template>

<template name="user">
  {{#ionItem class="user_result"}}
    {{> ionIcon icon="plus-circled"}}
    {{username}}
  {{/ionItem}}
</template>
