<template name="groupView">
    {{#contentFor "headerButtonLeft"}}
      {{>ionNavBackButton path="groups" text="My Groups"}}
    {{/contentFor}} 
    
    {{#contentFor "headerTitle"}}
      {{#with group}}
        <h1 class="title">{{name}}</h1>
      {{/with}}
    {{/contentFor}}

    {{#contentFor "headerButtonRight"}}
      <button class="button button-clear" data-ion-modal="_addIssue" data-id="{{group._id}}">{{> ionIcon icon="ios-plus-empty"}}</button>
    {{/contentFor}}

    {{#ionView}}
      {{#ionContent class="padding contact-detail"}} 
        {{#with group}}
          {{#each issues _id}}
            {{> issue}}
          {{/each}}
        {{/with}}
      {{/ionContent}}
    {{/ionView}}

</template>

<template name="issue">
	<div class="issue card">

		{{#ionItem path="issueView" buttonRight=true avatar=true class="item-icon-left"}}
  		<h2>{{title}}</h2>
  		<p>{{description}}</p>
    {{/ionItem}}

		<div class="item tabs tabs-secondary tabs-icon-left">
      <a class="aye tab-item {{#if myAye}}pressed{{/if}}" id="" href="#" data-action="">
        <i class="icon ion-thumbsup"></i>
        Aye
      </a>
      <a class="abs tab-item {{#if myAbs}}pressed{{/if}}" id="" href="#" data-action="">
        <i class="icon ion-ios-analytics"></i>
        Abstain
      </a>
      <a class="nay tab-item {{#if myNay}}pressed{{/if}}" href="#" data-action="">
        <i class="icon ion-thumbsdown"></i>
        Nay
      </a>
    </div>
  </div>
</template>
