<template name="issueView">
	{{#contentFor "headerButtonLeft"}}
	  {{>ionNavBackButton path="groupViewReturn" text="Issues"}}
	{{/contentFor}}

	{{#contentFor "headerTitle"}}
	  {{#with issue}}
	  	<h1 class="title">{{title}}</h1>
	  {{/with}}
	{{/contentFor}}

	{{#contentFor "headerButtonRight"}}
	{{/contentFor}}

    {{#ionView}}
      {{#ionContent class="padding contact-detail"}}
      	{{#with issue}}
		  	<h1> Ayes: {{getAye}} </h1>	    
	        <h1> Nays: {{getNay}}</h1>
	        <h1> Abstains: {{getAbs}}</h1>
	    {{/with}}
	  {{/ionContent}}
	{{/ionView}}

</template>
